* {
    padding: 0;
    margin: 0;
    max-width: 1171px;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    font-family: Montserrat;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 25px 0px;
    width: 100%;
}
.navigation__menu {
    width: 100%;
    display: flex;
    list-style-type:  none;
    gap: 50px;
    padding: 15px;
    border-radius: 40px;
    background: #F0F0F4;
}

.swiper-section {
    width: 100%;
    margin-top: 78px;
    display: flex;
}

.swiper {
    background: red;
}

.sale {
    width: 265px;
    margin-left: 36px;
}
